@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Lora", serif;
  --font-sans: "Inter", sans-serif;
  --font-display: "Plus Jakarta Sans", sans-serif;

  --color-primary: #9a4601;
  --color-primary-light: #ffdbc9;
  --color-secondary: #9e403c;
  --color-background: #fef9f3;
  --color-surface: #f2ede7;
  --color-on-surface: #1d1b18;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-sans;
  }
}
